h1{
    color:#123c69;
    background: #edc7bc;
    text-align: center;
    padding: 40px;
}
h2{
    text-align:center;
}
@media screen and (min-width: 800px) {
    body {
      background-color: #eee2dc;
    }
  }

a{
    color:#123c69;
}
a:hover {
    color: pink;
  }
li:hover{
    background: #bab2b5; 
}
table, th, td {
    border:1px solid #123c69;
    text-align: center;
    }
#shoutout{
    background: #edc7b7;
    text-align: center; 
}
.button{
    text-align: center;
}
.site{
    background: #f0b399;
    display:inline-flexbox;
}

span{
    text-decoration: underline;
    color:#123c69;
}

div.familypic {
    text-align: center;
}

div.pics{
    text-align: center;
}
